<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:targetApi="31">
        <service
            android:name=".service.vowifi1.vowifi2.googlehome.googlepay.cell.wifi.bt.airplane.autobrightness.mute.screenshot.flashlight.rotation.screenlock.dtmdtm.scanner.papermode.night.quietmode.batterysaver.uwb_shp.aitranslate.aisubtitles.freeformhang.vibrate.hotspot.sync.wirelesspower.nfc.dolbyatomssound.gps.edit.hearingassisttile.controls.wallet.settings.reduce_brightness.saver.inversion.alarm.cameratoggle.mictoggle.color_correction.QSTilePoCService"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>